.center_between {
    display: flex;
    justify-content: space-between;
}

.max_height {
    display: block;
    height: 100px;
    overflow-y: auto;
}

.width_40 {
    width: 40vw;
}

.width_50 {
    width: 50vw;
}

.width_60 {
    width: 60vw;
}