.title {
	font-size: 24px;
}

.border {
	border: 1px solid #ccc;
}
.border-only-right {
	border-right: 1px solid #ccc;
}

.padding-all-10 {
	padding: 10px;
}

.margin-top-bottom-10 {
	margin: 10px 0 10px 0;
}
.margin-top-bottom-20 {
	margin: 20px 0 20px 0;
}

.center {
	display: flex;
	justify-content: center;
    align-items: center;
    width: auto;
}

.height_content {
    width: auto;
	height: 80vh;
}

.bg_color_cinza_zimbra {
    background-color: #eeeeee;
}